#ip-address {
  display: none;
}

html {
  font-size: 16px;
}

*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#cycle-root {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

#node-manager {
  width: 100vw;
  height: 100vh;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}

/*
  z-index ref
  nodes: should be 10
  lines: should be 1
*/

/* COMPONENTS */
/* NodeCreator */
#node-creator {
  position: absolute;
  z-index: 100;
}

#node-creator input {
  text-align: center;
  width: 150px;
  height: 40px;
  font-size: 18px;
  background: none;
  border: none;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

  box-shadow: 0px 2px 6px rgb(0 0 0 / 40%);

  padding: 6px;
  border-radius: 8px;
  border-bottom: 3px solid black;
}

#node-creator input:focus, #node-creator input:focus-visible {
  border: none;
  border-radius: 8px;
  border-bottom: 3px solid black;
  outline: none;
}

/* svg line stuff */
#connection-lines {
  width: 100vw;
  height: 100vh;
  /* position: absolut; */
}

.connection-path {
  stroke:#aaa;
  stroke-width:2;
  stroke-dasharray: 5;
  animation: dash .5s linear infinite;
  animation-iteration-count: infinite;
  transition: color .1s ease-in-out;
}

@keyframes dash {
  to {
    stroke-dashoffset: -10;
  }
}

.connection-path:hover {
  /* stroke-width: 4; */
  stroke: #000;
}

.preview-path {
  stroke:transparent;
  stroke-width: 2;
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.visible {
  stroke:#aaaaaa;
}

.send-to-server {
  position: absolute;
  bottom: 0;
  left: 0;
}