#ip-address {
  display: none;
}

html {
  font-size: 16px;
}

*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

body {
  overflow: hidden;
}

#cycle-root {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

#node-manager {
  width: 100vw;
  height: 100vh;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}

/*
  z-index ref
  nodes: should be 10
  lines: should be 1
*/

/* COMPONENTS */


/* svg line stuff */
#connection-lines {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 900;
  pointer-events: none;
}

.connection-path {
  stroke:#000;
  stroke-width: 5px;
  /* stroke-width:2;
  stroke-dasharray: 5; */
  /* animation: dash .5s linear infinite;
  animation-iteration-count: infinite; */
  transition: color .1s ease-in-out;
  
}

/* @keyframes dash {
  to {
    stroke-dashoffset: -10;
  }
} */

.connection-path:hover {
  /* stroke-width: 4; */
  stroke: #000;
}

.preview-path {
  stroke:transparent;
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  position: relative;
  z-index: 900;
}

.visible {
  stroke:#000;
  stroke-width: 5px;
}

.send-to-server {
  position: absolute;
  bottom: 0;
  left: 0;
}

#run-button {
  position: absolute;
  right: 30px;
  top: 30px;
  border-color: transparent;
  border-radius: 75px;
  z-index: 1000;
  width: 70px;
  height: 70px;
  background-color: #00C896;
}

#run-button svg polygon {
  fill: #fff;
  stroke-linejoin: round;
  stroke-width: 5;
  stroke: #fff;
}

#run-button.running {
  background-color: palevioletred;
}