/* Base node css */
.draggable-node {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(0, 0);
  z-index: 10;
  padding: 10px 10px;
  border: 1px solid lightgray;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: white;
  color: black;
}

.dark-node {
  background-color: black;
  color: white;
}

.draggable-node span {
  font-family: sans-serif;
  font-size: 10px;
  min-height: 6px;
}

.node-select-input {
  width: 60px;
  text-align: left;
  margin-left: 15px;
}

.selected::before {
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  content: '';
  background-color: transparent;
  border: 3px solid palevioletred;
  border-radius: 5px;
  top: -7px;
  left: -7px;
  z-index: -1;
}

/* Node Output styles */
.node-outputs {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: monospace;
  font-size: 12px;
  vertical-align: bottom;
}

.center-outputs {
  justify-content: center;
  min-height: 20px;
  min-width: 1px;
}

.output-point {
  z-index: 20;
  text-align: right;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.output-point:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  top: 0px;
  right: -15px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
}

.output-point:hover:after {
  background-color: black;
}


/* Node Input styles */
.node-inputs {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: monospace;
  font-size: 12px;
  vertical-align: bottom;
}

.input-point {
  position: relative;
  user-select: none;
}

.input-point:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  top: 0px;
  left: -15px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
}

.input-point:hover:after {
  /* border-left: 8px solid black; */
}

/* MarkerNode */
.marker-node-img {
  width: 80px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  margin: 0 15px;
  vertical-align: bottom;
}

/* Variable nodes */
.node-number-input {
  text-align: right;
  /* padding-right: 5px; */
}

/* detection panel */
.detection-panel {
  width: 300px;
}

.detection-panel .output-point {
  position: absolute;
  right: 9px;
}

.labeled-select {
  margin-top: 179px;
}
.select-label {
  margin-right: 5px;
}

.detection-view {
  width: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px 3px 0 0;
}

/* 240 : 480 for  aspect ratio */